fastapi==0.89.0
uvicorn==0.30.0
pg8000==1.30.5
pydantic==1.10.13
python-dotenv==1.0.0
httpx==0.27.0
bcrypt==4.1.1
resend==2.34.0
websockets==12.0
setuptools==69.5.1
wheel==0.43.0
typing-extensions==4.12.2
requests
eth-keys==0.5.1
eth-utils==2.3.1
cryptography==42.0.5
pycryptodome==3.20.0
